In [2]:
!Is

/bin/bash: line 1: Is: command not found

In [3]:
!ls

orders.csv  restaurants.sql  sample_data  users.json

In [4]:
import pandas as pd
import sqlite3

# Load orders.csv
orders = pd.read_csv("orders.csv")

# Load users.json
users = pd.read_json("users.json")

# Create database from SQL file
conn = sqlite3.connect("restaurants.db")

with open("restaurants.sql", "r") as file:
    sql_script = file.read()

conn.executescript(sql_script)

# Load restaurants table
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

# Merge datasets (LEFT JOIN)
step1 = pd.merge(orders, users, on="user_id", how="left")
final_df = pd.merge(step1, restaurants, on="restaurant_id", how="left")

# Save final output
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

print("✅ Final dataset created successfully!")
final_df.head()

✅ Final dataset created successfully!

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0